<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>getMenu</servlet-name>
        <servlet-class>getMenu</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>logout</servlet-name>
        <servlet-class>logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getSiteInfo</servlet-name>
        <servlet-class>getSiteInfo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getGeolocation</servlet-name>
        <servlet-class>getGeolocation</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>newSite</servlet-name>
        <servlet-class>newSite</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>changeState</servlet-name>
        <servlet-class>changeState</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteSite</servlet-name>
        <servlet-class>deleteSite</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>Login</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>getMenu</servlet-name>
        <url-pattern>/getMenu</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getSiteInfo</servlet-name>
        <url-pattern>/getSiteInfo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getGeolocation</servlet-name>
        <url-pattern>/getGeolocation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>newSite</servlet-name>
        <url-pattern>/newSite</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>changeState</servlet-name>
        <url-pattern>/changeState</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteSite</servlet-name>
        <url-pattern>/deleteSite</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>logout</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
